@model CouriersManagementDb.Models.Shipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryStatus" class="control-label"></label>
                <select asp-items="Html.GetEnumSelectList<DeliveryStatusEnum>()" asp-for="DeliveryStatus" class="form-control"></select>
                <span asp-validation-for="DeliveryStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label">Arrival Date</label>
                <input asp-for="ArrivalDate" class="form-control" type="date"
                       min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DispatchDate" class="control-label">Dispatch Date</label>
                <input asp-for="DispatchDate" class="form-control" type="date"
                       value="@DateTime.Today.ToString("yyyy-MM-dd")"
                       min="@DateTime.Today.ToString("yyyy-MM-dd")"
                       max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DispatchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourierID" class="control-label"></label>
                <select asp-for="CourierID" class ="form-control" asp-items="ViewBag.CourierID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
